
.rd3-chart-title {
    font-size: 60px;
    color: rgb(49, 130, 189);
    text-align: center;
}

.rd3-chart {
    display: block;
    margin: 0 auto;
}

.btn-submit {
  border: 1px solid rgb(49, 130, 189);
  display: block;
  color: rgb(49, 130, 189);
  background: white;
  font-size: 20px;
  margin: 0 auto;

}

.text-input {
  border: 1px solid rgb(49, 130, 189);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  display: block;
  // color: ;
  background: white;
  font-size: 20px;
  // margin: 0 auto;
  margin: 0 auto 10px auto;

}
